<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  {% for i in img%}

  <img src="{% static i.img|cut:'myapp/static' %}" alt="My image">
  {% endfor %}
  {%for i in id%}
    
    <h1>{{i.model}}</h1>
    <h1>{{i.brand}}</h1>
    <h1>{{i.count}}</h1>
    <h1>{{i.date_of_Delivery}}</h1>
	    <h1>{{i.date_of_Delivery}}</h1>
  {%endfor%}

  <button> В корзину</button>
</body>
</html>